body {
  background-color: #87cefa;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 5px 15px 15px;
  padding: inherit;
}

* {
  box-sizing: border-box;
}

.types {
  color: green;
}

.pokemon_button {
  border: none;
  font-family: inherit;
  background-color: #f00;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s opacity;
}
